.teal-h2{
    color: teal;
    font-weight: 300;
    font-size: 35px;
}

.teal-h1{
    color:teal;
    font-weight: 500;
    font-size: 45px;
    text-align: center;
}

.description{
    line-height: 2;
    padding: 20px 0 10px 0;
}
a{
    color: teal;
    text-decoration: none;
}